/*********MAIN*********/

body {
  background: #white;
  color: white;
  font-family: 'Quicksand', sans-serif;
  }

h1 {
  text-align: center;
  font-size: 55px;
  height: 10px;
  font-family: 'American Typewriter'
}

h2 {
  text-align: center;
  padding: 10px;
  height: 1px;
  margin: 10;
}

h3 {
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
  margin: -5px;
  padding: 20px;
  color: white;
}

p {
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
}

hr {
  border: 1px solid dimgray;

}

section {
  text-align: center;
  display: inline-block;
}

section ul {
    padding: 0px;
    width: 1300px;
    margin: -15px;
    list-style-type: none;
    height: 0px;
}
section li {
  display: inline-block;
  margin: 4px;
  text-align: center;
  height: 0px;
  padding: 20px;
}

ul {
  padding: 2px;
  width: 1300px;
  margin: 0px;
  list-style-type: none;
  height: 22px;
}

li {
  display: inline-block;
  margin: 15px;
  text-align: center;
  height: 22px;
}

article ul {
    padding: 5px;
    margin: 10px;
    display: inline-block;
  }

article li {
    margin: 0px;
    pading: 0px;
    text-align: center;
}

article p {
  padding: 5px;
  margin: 10px;
  display: inline-block
}

/*****END OF MAIN*****/


/******DIV CLASSES*****/

.boxed {
  height: 2000px;
  width: 1300px;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #959595;
}

.boxed img {
  margin: 0px;
  text-align: center;
}
.special-nav img {
  margin: -1%;
  padding: 0%;
}

.logo {
  height: 90px;
}
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
}

.special-quote {
  background-color: #8DB6CD;
}
.quote {
  background-color: #8DB6CD;
}

.special-header header {
  height: 155px;
  background color: #8DB6CD;
}

.episode-guide article {
  display: inline-block;
  margin: 20px;
}

.wrap {
  text-align: center;
}

.spacer {
  background-color: #8DB6CD;
  margin: 0px;
}

/***END OF DIV CLASSES***/

/********NAVBAR********/

.navbar {
  height: 30px;
  background-color: #8DB6CD;
}
.navbar ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.navbar li {
  display: inline-block;
  padding: 5px;
  margin: 0px;
}

.navbar a:link {
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  color: black;
}
.navbar a:visited {
  color: white;
}
.epsiodes ul {
  list-style-type: none;
}

.episodes li {
  display: inline-block;
  margin: 0px;
  text-align: center;
}

.episodes p {
  display: inline-block;
  text-align: center;
}

/******END NAVBAR******/

/*****HEADER/FOOTER****/

header {
  height: 715px;
}

header, footer {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  min-height: 100%;
  height: auto ;
  height: 100%;
  margin: 0 auto -7em;
}
.footer, .push {
  height: 10em;
}
/****RESPONSIVENESS****/
@media screen and (max-width:320px) {
  .boxed {
    max-width: 320px;
    max-height: 100%;
  }
@media screen and (max-width:320px) {
  .wrapper {
    max-width: 320px;
    max-height: 100%;
  }
@media screen and (max-width:320px) {
  .navbar {
    max-width: 320px;
    max-height: 100%;
    display: inline-block;
    height: 60px;
  }
@media screen and (max-width:320px) {
  img, ul {
    max-width: 320px;
    max-height: 100%;
  }
@media screen and (max-width:320px) {
  li {
    display: inline-block;
    margin: 4px;
    text-align: center;
    padding: 2px;
    }
@media screen and (max-width:320px) {
  section li {
    display: inline-block;
    margin: 4px;
    text-align: center;
    padding: 20px;
    height: 220px;
  }
@media screen and (max-width:320px) {
  .headerimg img {
    display:none;
  }
@media screen and (max-width:320px) {
    .headerimg {
      display: inline-block;
      height: 320px;
      width: 320px;
background: url("images/responsiveheader.jpg");
    }
@media screen and (max-width:320px) {
  .logo {
    display: none;
  }
@media screen and (max-width:320px) {
  .special-header header {
    display: inline-block;
    height:100px
  }
@media screen and (max-width:320px) {
  header, footer {
    display:inline;
}
@media screen and (max-width:320px) {
  h1 {
    font-size: 40px;
  }
